[user]
	email = 18208134+animafps@users.noreply.github.com
	name = Anima
	signingkey = ~/.ssh/github

[commit]
	gpgsign = true

[gpg]
	format = ssh

[color]
    branch = always
    diff = always
    grep = always
    interactive = always
    pager = true
    showbranch = auto
    status = auto
    ui = always

[color "interactive"]
    error = red bold

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = yellow
    frag = magenta
    old = red
    new = green
    whitespace = white reverse

[color "status"]
    added = yellow
    changed = green
    untracked = cyan
    branch = magenta

[core]
    pager = less -FRSX
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
	editor = nano
	
[url "git@github.com:"]
	insteadOf = https://github.com/
[credential]
	helper = /usr/lib/git-core/git-credential-libsecret
[push]
	autoSetupRemote = true
